{% extends "base.html.twig" %}
{% block body %}
<html>
    <head>
    <style>
    </style>
    </head>
    <body>
    <div class="container">
        <div class="fondhome">
            <div class="column">
                <h2 style="text-align:center"></h2>
                    <div class="card">
                        <h1>Horaires</h1>
                        <p> AB Numérisation</p>
                        <p> 564 Rue d'Anse 69400 Villefranche S/Saône </p>
                        <p>Du lundi au vendredi de 8h30 à 12h et 14h à 19h</p>
                        <p>Le Samedi de 8h00 à 16h</p>
                        <img src="boutique.jpg"  style="width:40%">
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>
{% endblock %}